.Calendario{
    width: 70%;
    height: 70%;
    float: left
}
.subtititle{
    font-family: "Raleway";
}

.spannums{
    border-radius: 300px;
    font-size: 13px;
    margin: 5px auto;
    font-family: "Raleway";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: .9em 2.2em;
    background-color: #fe7678;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    float: left;
    line-height: 1em;
    color: #fff;
    border: none;
    transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
}
.btnpos{
    display: block;
    cursor: pointer;
}
div.frame{
    width: 80%;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
}
iframe{
    width: 100%;
    border-radius: 5px;
    border-color: transparent;
    border-width: 10px;
    padding: 20px;
    margin: auto;
}
#divBotones{
    margin: 0 auto;
    width: 70%;
}
*{
    box-sizing: border-box;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th, td{
    text-align: center;
    padding: 8px;
}
#th1{
    background-color: rgba(63, 161, 191, 0.59);
    color: white;
}
#th2{
    background-color: rgb(191, 63, 135);
    color: white;
}
#th3{
    background-color: rgba(193, 66, 66, 0.7);
    color: white;
}
td{
    background-color: rgba(191, 178, 63, 0.5);
    
}

tr:nth-child(even) {background-color: #f2f2f2}