.Calendario{
    width: 70%;
    height: 40%;
    float: left
}
#textofecha{
    font-size: 15px;
    font-family:'Montserrat', sans-serif;
    color: #D37E71;
    background: rgb(238, 238, 238);
    border: 1px solid rgba(60, 144, 240, 0.78);
    border-radius: 5px;
    height: 20px;
    width: 90%;
}

.spannums{
    width: 40%;
    height: 40px;
    font-family:'Montserrat', sans-serif;
    text-align: center;
    border-radius: 300px;
    font-size: 15px;
    margin: 5px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: .5em .5em;
    background-color: rgb(191, 63, 135);
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    line-height: 1em;
    color: #fff;
    border: none;
    transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;

}
.spannums2{
    width: 40%;
    height: 40px;
    font-family:'Montserrat', sans-serif;
    text-align: center;
    border-radius: 300px;
    font-size: 15px;
    margin: 5px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: .5em .5em;
    background-color: rgba(193, 66, 66, 0.7);
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    line-height: 1em;
    color: #fff;
    border: none;
    transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
}
.btnpos{
    cursor: pointer;
}

iframe{
    width: 100%;
    border-color: transparent;
    border-width: 10px;
    padding: 5px;
    margin: auto;
}
#divBotones{
    float: left;
    width: 70%;
}
.divtext {
    width: 50%;
    padding: 5px;
    margin: auto;
    float: left;
}
table{
    border-collapse: separate;
    border-spacing: 10px 5px;
    width: 100%;
}
th, td{
    text-align: center;
    width: 150px;;
    height: 30px;
    padding: 4px;
    border-width: 1px;
    border-color: #7f7f7f;
    border-radius: 5px;
}
#th1{
    background-color: rgba(60, 144, 240, 0.78);
    color: white;
}
#th2{
    background-color: rgb(191, 63, 135);
    color: white;
}
#th3{
    background-color: rgba(193, 66, 66, 0.7);
    color: white;
}
td{
    background-color: #eeeeee;
}

tr:nth-child(even) {background-color: #f2f2f2}

.btnRCalen:hover {
    background: rgba(0,0,0,0);
    color: rgba(60, 144, 240, 0.78);
    box-shadow: inset 0 0 0 3px rgba(60, 144, 240, 0.78);
}
.btnR2td:hover {
    background: rgba(0,0,0,0);
    color: rgb(191, 63, 135);
    box-shadow: inset 0 0 0 3px rgb(191, 63, 135);
}
.btnR3td:hover {
    background: rgba(0,0,0,0);
    color: rgba(193, 66, 66, 0.7);
    box-shadow: inset 0 0 0 3px rgba(193, 66, 66, 0.7);
}
.btncalen{
    border-radius: 300px;
    font-size: 13px;
    margin: 5px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: .5em .5em;
    background-color: rgba(60, 144, 240, 0.78);
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    line-height: 1em;
    color: #fff;
    border: none;
    transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
}
.btnplusmin1{
    border-radius: 300px;
    font-size: 13px;
    margin: 5px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: .4em .4em;
    background-color: rgb(191, 63, 135);
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    line-height: 1em;
    color: #fff;
    border: none;
    transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
}
.btnplusmin2{
    border-radius: 300px;
    font-size: 13px;
    margin: 5px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: .4em .4em;
    background-color: rgba(193, 66, 66, 0.7);
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    line-height: 1em;
    color: #fff;
    border: none;
    transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
}
.btn2{
    border-radius: 300px;
    font-size: 11px;
    margin: 5px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 1em 1.5em;
    background-color: rgb(102, 163, 40);
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    line-height: 1em;
    color: #fff;
    border: none;
    transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
}
.btnR2:hover {
    background: rgba(0,0,0,0);
    color: rgb(102, 163, 40);
    box-shadow: inset 0 0 0 3px rgb(102, 163, 40);
}
.barraC{
    width: 25%;
    margin-left: 75%;
    float: left;
    height: 80%;
    position: absolute;
    margin-top: 5%;
    border-left: 1.5px solid #bfbdbd;
    padding-left: 1%;
}
#titlecons{
    border: none;
    padding: 10px;
    height: 16%;
    width: 90%;
    background: none;
}
.consejos{
    border: none;
    border-top: 1.5px solid #bfbdbd;
    padding: 10px;
    height: 16%;
    width: 90%;
    background: none;
}
.consejos:hover{
    background: #EAEAEA;
    cursor: pointer;
}
.tit{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    text-align: justify;
    color:  #A53457;
}
.tit2{
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    color:  #FAA27A;
}
.tit3{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    color:  #FA7AB3;
}
div.frame{
    width: 50%;
    padding: 5px;
    margin: auto;
    float: left;
}
.textco{
    font-size: 14px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
}