
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-water:before { content: '\e801'; } /* '' */
.icon-emo-unhappy:before { content: '\e802'; } /* '' */
.icon-droplet:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-emo-angry:before { content: '\e80d'; } /* '' */
.icon-emo-cry:before { content: '\e80f'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */